.wave2{height: 30px;position: absolute;width: 100%;z-index: 12;left: 0;top: -30px;}

.wave2 {
  -webkit-animation: wave-animation1 6.3s infinite linear;
  -moz-animation:    wave-animation1 6.3s infinite linear;
  -o-animation:      wave-animation1 6.3s infinite linear;
  animation:         wave-animation1 6.3s infinite linear;
}

@-webkit-keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% { background-position: 1601px 0; }
}
@-moz-keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% { background-position: 1601px 0; }
}
@-o-keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% { background-position: 1601px 0; }
}
@keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% {background-position: 1601px 0;}
}
.wave2 {
    background: url('https://res.cloudinary.com/giruda1113/image/upload/v1650625111/web%20portfolio/wave2_mjgidg.png') 0 0 repeat-x;
}