/* ---------- 배경 그라디언트 ----------*/
body {
	--hue1: 176;
	--hue2: 341;
	--hue3: 250;
	--hue4: 90;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 700px;
	opacity: .4;
	background: radial-gradient(circle at top left,
			hsla(var(--hue1), 90%, 80%, 0.5),
			transparent 75%),
		radial-gradient(circle at top right,
			hsla(var(--hue2), 90%, 80%, 0.5),
			transparent 75%),
		radial-gradient(at bottom left,
			hsla(var(--hue3), 90%, 80%, 0.5),
			transparent 75%),
		radial-gradient(at bottom right,
			hsla(var(--hue4), 90%, 80%, 0.5),
			transparent 75%);
}

/* ---------- header ----------*/
header {
	width: 100%;
	height: auto;
}

#gnb {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 85px;
	padding: 14px 0 17px;
	background-color: var(--bg-color);
	box-shadow: 0px 3px 8px rgba(30, 52, 125, 0.2);
	z-index: 300;
	transition: all .6s ease-in-out;
}
#gnb.active {
	height: 55px;
	background-color: #ffffff95;
	filter: blur(70%);
}
#gnb.active .logo_area .logo{
	width: 3rem;
	height: 3rem;
	font-size: calc(3.5rem * 0.65);
	top: -8px;
}

#gnb .logo_area {
	float: left;
	margin-left: 50px;
}

#gnb .logo_area .logo {
	position: relative;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 4rem;
	height: 4rem;
	color: var(--primary-color);
	font-size: calc(5rem * 0.65);
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	user-select: none;
	z-index: 200;
	transition: all .6s ease-in-out;
}

.logo::after,
.logo::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
	border-radius: calc(4rem * 0.3);
	mix-blend-mode: color-dodge;
}

.logo::before {
	background-color: #c8d0ff;
	transform: rotate(-30deg);
	z-index: -2;
	animation: rotate1 30s linear infinite;
}

.logo::after {
	background-color: #e1c1fa;
	transform: rotate(20deg);
	z-index: -1;
	animation: rotate2 calc(30s * 0.9) linear infinite;
}

@keyframes rotate1 {
	from {
		transform: rotate(-30deg);
	}

	to {
		transform: rotate(330deg);
	}
}

@keyframes rotate2 {
	from {
		transform: rotate(380deg);
	}

	to {
		transform: rotate(20deg);
	}
}

#gnb.active nav{
	top: 0;
}
#gnb nav {
	float: right;
	position: absolute;
	right: 0;
	top: 12px;
	transition: all .6s ease-in-out;
}

#gnb nav ul.header_manu {
	list-style: none;
	display: flex;
	position: relative;
}

#gnb.active nav ul.header_manu li{
	height: 55px;
}
#gnb.active nav ul.header_manu li>a{
	line-height: 55px;
}
#gnb nav ul.header_manu li {
	width: 150px;
	height: 65px;
	margin: 0;
	transition: all .6s ease-in-out;
}

#gnb nav ul.header_manu li>a {
	position: relative;
	color: var(--text-color);
	line-height: 65px;
	font-size: 14px;
	transition: all 0.4s ease-out;
}
#gnb.active nav ul.header_manu li>a::before{
	top: 14px;
}
#gnb nav ul.header_manu li>a::before{
	top: 19px;
	transition: top .6s ease-in-out;
}
#gnb nav ul.header_manu li>a::before {
	content: "";
	position: absolute;
	left: -5px;
	background-color: var(--primary-color);
	height: 25px;
	width: 0;
	transition: all 0.4s ease-out;
	z-index: -1;
}

#gnb nav ul.header_manu li>a:hover::before,
#gnb nav ul.header_manu li.active>a::before {
	width: 100px;
}

#gnb nav ul.header_manu li.active>a .menu_tit,
#gnb nav ul.header_manu li>a:hover,
#gnb nav ul.header_manu li>a:focus {
	color: var(--bg-color);
    font-family: 'GmarketSansMedium';
}

#main_visual {
	display: block;
	width: 100%;
	height: 650px;
	position: relative;
	top: 20px;
}


.ball_wrap {
	width: 1340px;
	height: 200px;
	margin: 20px auto 0 auto;
	position: relative;
	top: -590px;
}

.ball {
	position: absolute;
	left: 80px;
	top: 70px;
	width: 70px;
	height: 70px;
	background-color: #fff;
	border: 3px solid var(--primary-color);
	box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
	border-radius: 35px;
	overflow: hidden;
}

.ball {
	offset: path("M0,100c10,-50, 82.095,-82.507, 127.089,0c19.734,-79.314, 119.195,-102.241 151.559,0c5.526,-77.735 ,101.322,-104.262,149.192,-52.888") auto;
	animation: moveto 4s ease infinite forwards;
}

@keyframes moveto {
	0% {
		offset-distance: 0%;
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		offset-distance: 100%;
		opacity: 0;
	}
}

#main_visual .visual_wrap {
	width: 100%;
	max-width: 1400px;
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

#main_visual .slogun {
	width: 40%;
	position: relative;
	left: 93px;
}

#main_visual .slogun .margin {
	margin-left: 20px;
}

#main_visual .slogun p {
	display: flex;
	font-size: 35px;
	color: var(--text-color);
}

#main_visual .slogun p+p {
	margin-left: 75px;
}

#main_visual .slogun p.tit {
	font-size: 42px;
	margin-top: 30px;
}

#main_visual .slogun p.tit .point {
	margin-left: 12px;
}

#main_visual .image {
	width: 40%;
	margin-right: 50px;
}

#main_visual .image>img {
	width: 100%;
	display: block;
}

#main_visual .btn {
	bottom: 35px;
	left: 221px;
}

/* ---------- //header ----------*/

/* ---------- main ----------*/
/*---------- #its_me ----------*/
.profile {
	padding-bottom: 80px;
}

.its_me_aera {
	width: 80%;
	margin: 50px auto;
	display: flex;
	justify-content: space-evenly;
}

.its_me_title {
	width: 35%;
}

.its_me_img img {
	width: 90%;
}

.its_me_text {
	width: 80%;
	font-family: "GmarketSansLight";
}

.its_me_text>.tit {
	width: 100%;
	margin-bottom: 12px;
	font-size: 22px;
	border-bottom: 1px solid #333;
	padding: 12px 0;
	font-family: "GmarketSansMedium";
}

.its_me_text>.tit .bold {
	font-family: "GmarketSansBold";
}

.its_me_resume {
	width: 40%;
	font-weight: 800;
}

.its_me_resume ul {
	list-style-type: disc;
	margin-left: 15px;
	font-family: "GmarketSansLight";
}

.resume_tit {
	font-family: "GmarketSansBold";
	margin-bottom: 12px;
	margin-top: 25px;
	font-size: 18px;
}

.resume_icon>ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	margin-left: 0;
	width: 300px;
}

.resume_icon>ul>li {
	width: 65px;
	height: 65px;
	margin: 5px;
}

.resume_icon>ul>li>span {
	width: 100%;
	height: 65px;
	line-height: 65px;
	text-align: center;
	background-color: var(--bg-color);
	border: 3px solid var(--bg-color);
	border-radius: 15px;
	font-family: "GmarketSansBold";
	color: var(--bg-color);
	font-size: 18px;
	box-shadow: 0px 0px 10px #18256e50;
	text-shadow: -1px -1px 4px #18256e80, 1px -1px 4px #18256e80, -1px 1px 4px #18256e80, 1px 1px 4px #18256e80;
}

/* //.profile */

.skill {
	padding-bottom: 80px;
}

.charts {
	width: 100%;
	margin: 5rem auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.charts .chart {
	margin: 0 20px;
	position: relative;
}

.charts .chart h2 {
	position: absolute;
	left: 50%;
	top: 57%;
	transform: translate(-50%, -50%);
}

.charts .chart svg {
	width: 220px;
	height: 220px;
}

circle {
	fill: #ffffff;
	stroke-dasharray: 535;
	stroke-dashoffset: 535;
	stroke-width: 20;
	stroke: #1787ff;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	stroke-linecap: round;
}

@keyframes line {
	from {
		stroke-dashoffset: 628;
	}

	to {
		stroke-dashoffset: 0;
	}
}

.charts .chart:nth-child(2) circle,
.charts .chart:nth-child(6) circle {
	stroke: #ff9c23;
}

.charts .chart:nth-child(3) circle,
.charts .chart:nth-child(7) circle {
	stroke: #8914ff;
}

.charts .chart:nth-child(4) circle,
.charts .chart:nth-child(8) circle {
	stroke: #ff141c;
}

.charts .tit {
	text-transform: none;
	font-size: 18px;
	font-family: 'GmarketSansBold';
	text-align: center;
	margin-top: 15px;
	color: var(--bg-color);
	text-shadow: -1px -1px 4px #18256e80, 1px -1px 4px #18256e80, -1px 1px 4px #18256e80, 1px 1px 4px #18256e80;
}

/* //.skill */

/*---------- #project ----------*/

#project .project_wrap {
	display: flex;
	justify-content: space-evenly;
	margin-top: 90px;
	height: 600px;
}

.mockup_area {
	width: 45%;
}

#project .project_wrap .left {
	transform: translateX(-100%);
	transition: transform 1s ease-in-out;
}

#project .project_wrap .left.in {
	transform: translateX(0%);
}

#project .project_wrap .right>div span {
	display: block;
}

#project .project_wrap .right>div {
	perspective: 1200px;
	transition: transform 1s ease-in-out;
}

#project .project_wrap .right .project_num span {
	transform-style: preserve-3d;
	transform: rotateX(180deg);
	transform-origin: 50% 100% 100%;
	opacity: 0;
	transition: all 2s 0.3s ease-in-out;
	color: #dcedff;
}

#project .project_wrap .right .project_num span.show {
	transform: translateX(0%);
	opacity: 1;
}

#project .pc {
	width: 500px;
	height: 500px;
	position: relative;
}

#project .mobile {
	width: 180px;
	height: 280px;
	position: relative;
	top: -350px;
	left: 385px;
}

#project .computer,
#project .iphone {
	width: 100%;
	position: absolute;
}

#project .pc a {
	display: block;
	width: 470px;
	height: 264px;
	position: absolute;
	overflow: hidden;
	top: 15px;
	left: 15px;
}

#project .mobile a {
	display: block;
	width: 125px;
	height: 273px;
	position: absolute;
	overflow: hidden;
	top: 35px;
	left: 27px;
	border-radius: 14px;
}

#project .scroll img {
	width: 100%;
	position: relative;
}

.iphone_top {
	width: 45%;
	position: absolute;
	top: 35px;
	left: 50%;
	transform: translateX(-50%);
}

.text_area {
	width: 40%;
	position: relative;
}

.project_num span.number {
	font-family: 'GmarketSansMedium';
	font-size: 40px;
	color: #dcedff;
}

.project_tit .tit {
	font-size: 32px;
	font-family: "GmarketSansBold";
	margin-bottom: 15px;
	/* background-clip: text;
	-webkit-background-clip: text;
	color: rgba(0, 0, 0, .2); */
}

.project_txt {
	font-size: 16px;
}

.project_txt span.categori {
	font-size: 20px;
	margin-top: 15px;
	text-transform: none;
	margin-top: 50px;
	opacity: 0.7;
}

.project_txt .bold {
	font-family: "GmarketSansBold";
}

/* uiux_project */
#project .uiux_project .mockup_area {
	position: relative;
}

#project .uiux_project .mobile {
	width: 284px;
	height: 280px;
	top: -69px;
	left: 124px;
}

#project .uiux_project .mobile a {
	width: 198px;
	height: 429px;
	top: 56px;
	left: 43px;
	border-radius: 19px;
}

#project .uiux_project .iphone_top {
	top: 56px;
}

#project .btn {
	top: 65%;
	left: 0;
	transform: translateY(-65%);
	width: 280px;
}

#project .btn a {
	font-size: 16px;
}

/*---------- #design ----------*/
.disign_wrap {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 50px;
}

.disign_wrap .disign {
	width: calc(100% / 3.5);
	height: 250px;
	border: 3px solid var(--primary-color);
	border-radius: 15px;
	margin: 20px;
}

/*---------- #contact ----------*/
#contact .contact_aera {
	z-index: 10;
	position: relative;
	margin-top: 180px;
	background-color: #4586ef;
	padding-bottom: 80px;
}

#contact .tit {
	width: 100%;
	color: #4586ef;
	font-size: 95px;
	text-shadow: -1px -1px 3px #ffffff85, 1px -1px 3px #ffffff85, -1px 1px 3px #ffffff85, 1px 1px 3px #ffffff85;
	text-align: center;
	margin-bottom: 35px;
}
.contact_wrap {
	width: 75%;
	height: 350px;
	background-color: #fff;
	border-radius: 300px;
	margin: 0 auto;
	box-shadow: 0px 0px 20px #18256e50;
}

.bg_wave{
	width: 2000px;
	height: 800px;
	position: absolute;
	margin: 0 auto;
	overflow: hidden;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.water {
	position: absolute;
	height: 650px;
	width: 100%;
	z-index: 1;
	top: -170px;
	bottom: 0;
	left: 0;
	background: #4586ef;
	transform: translate(0, 50%);
}

.water__inner {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	overflow: hidden;
}

.water__wave {
	width: 200%;
	position: absolute;
	bottom: 100%;
}


.water__wave_back {
	right: 0;
	fill: #114aa5;
	animation: wave-back 4.4s infinite linear;
}

.water__wave_front {
	left: 0;
	fill: #4586ef;
	margin-bottom: -1px;
	animation: wave-front 3.7s infinite linear;

}


@keyframes wave-front {
	100% {
		transform: translate(-50%, 0);
	}
}

@keyframes wave-back {
	100% {
		transform: translate(50%, 0);
	}
}

@keyframes button-shadow {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1.6);
	}
}

@keyframes bubble-1 {
	0% {
		opacity: 1;
		transform: scale(0) translate(0, 0);
	}

	25% {
		transform: scale(0.25) translate(20px, -25px);
	}

	50% {
		transform: scale(0.5) translate(40px, -50px);
	}

	75% {
		transform: scale(0.75) translate(20px, -75px);
	}

	100% {
		transform: scale(1) translate(10px, -100px);
	}
}

.tracker {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	color: #fff;
	text-align: center;
	height: 74px;
	font-size: 35px;
	overflow: hidden;
	z-index: 20;
}

.titleP {
	font-size: 60px;
	font-weight: 600;
}

@keyframes bubble-2 {
	0% {
		opacity: 1;
		transform: scale(0) translate(-20px, -10px);
	}

	25% {
		transform: scale(0.25) translate(-40px, -45px);
	}

	50% {
		transform: scale(0.5) translate(-60px, -70px);
	}

	75% {
		transform: scale(0.75) translate(-40px, -95px);
	}

	100% {
		transform: scale(1) translate(-30px, -100px);
	}
}

@keyframes bubble-3 {
	0% {
		opacity: 1;
		transform: scale(0) translate(0, 0);
	}

	25% {
		transform: scale(0.25) translate(0, -20px);
	}

	50% {
		transform: scale(0.5) translate(-10px, -40px);
	}

	75% {
		transform: scale(0.75) translate(10px, -60px);
	}

	100% {
		transform: scale(1) translate(0, -100px);
	}
}

/* ---------- //main ----------*/
/* ---------- footer ---------- */


/* ---------- //footer ---------- */