
/* ---------- header ----------*/
header {
    width: 100%;
    height: auto;
}

#gnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: var(--bg-color);
    box-shadow: 0px 3px 8px rgba(30, 52, 125, 0.2);
    z-index: 999;
}

#gnb .logo_area {
    float: left;
    margin-left: 50px;
}
#gnb .logo_area .logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 4rem;
    height: 4rem;
    color: var(--primary-color);
    font-size: calc(5rem * .65);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    z-index: 200;
}
.logo::after, .logo::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border-radius: calc(4rem * .3);
    mix-blend-mode: color-dodge;
}

.logo::before {
    background-color: #c8d0ff;;
    transform: rotate(-30deg);
    z-index: -2;
    animation: rotate1 30s linear infinite;
}

.logo::after {
    background-color: #e1c1fa;
    transform: rotate(20deg);
    z-index: -1;
    animation: rotate2 calc(30s * .9) linear infinite;
}

@keyframes rotate1 {
    from {
        transform: rotate(-30deg);
    }
    to {
        transform: rotate(330deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotate(380deg);
    }
    to {
        transform: rotate(20deg);
    }
}


#gnb nav {
    float: right;
}

#gnb nav ul.header_manu {
    list-style: none;
    display: flex;
}

#gnb nav ul.header_manu li {
    width: 150px;
    height: 65px;
    margin: 0;
}

#gnb nav ul.header_manu li>a {
    position: relative;
    color: var(--text-color);
    line-height: 65px;
    font-size: 14px;
    transition: all .4s ease-out;
}

#gnb nav ul.header_manu li>a::before {
    content: '';
    position: absolute;
    top: 19px;
    left: -5px;
    background-color: var(--primary-color);
    height: 25px;
    width: 0;
    transition: all .4s ease-out;
    z-index: -1;
}

#gnb nav ul.header_manu li>a:hover::before,
#gnb nav ul.header_manu li.active>a::before {
    width: 100px;
}

#gnb nav ul.header_manu li.active>a,
#gnb nav ul.header_manu li>a:hover,
#gnb nav ul.header_manu li>a:focus {
    color: var(--bg-color);
}


#main_visual {
    display: block;
    width: 100%;
    height: 650px;
    position: relative;
}
#main_visual::before{
    background-image: url(../images/header/bg.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px;
    height: 801px;
    content: '';
    z-index: -100;
}

#main_visual .visual_wrap {
    width: 100%;
    max-width: 1400px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main_visual .slogun {
    width: 40%;
    position: relative;
    left: 93px;
}

#main_visual .slogun p {
    display: flex;
    font-size: 32px;
    color: #555;
}

#main_visual .slogun p+p {
    margin-left: 75px;
}

#main_visual .slogun p.tit {
    font-size: 40px;
    margin-top: 30px;
}
#main_visual .slogun p.tit .point{
    margin-left: 12px;
}

#main_visual .image {
    width: 40%;
    margin-right: 50px;
}

#main_visual .image>img {
    width: 100%;
    display: block;
}
/* ---------- //header ----------*/

/* ---------- main ----------*/
/*---------- #its_me ----------*/
.profile{
    padding-bottom: 80px;
}
.its_me_aera{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
}
.its_me_title{
    width: 35%;
}
.its_me_img img{
    width: 90%;
}
.its_me_text{
    width: 80%;
    font-family: 'GmarketSansLight';
}
.its_me_text>.tit{
    width: 100%;
    margin-bottom: 12px;
    font-size: 22px;
    border-bottom: 1px solid #333;
    padding: 12px 0;
    font-family: 'GmarketSansMedium';
}
.its_me_text>.tit .bold{
    font-family: 'GmarketSansBold';
}

.its_me_resume{
    width: 40%;
    font-weight: 800;
}
.its_me_resume ul{
    list-style-type: disc;
    margin-left: 15px;
    font-family: 'GmarketSansLight';
}
.resume_tit{
    font-family: 'GmarketSansBold';
    margin-bottom: 12px;
    margin-top: 25px;
    font-size: 18px;
}
.resume_icon>ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 0;
    width: 300px;
}
.resume_icon>ul>li{
    width: 65px;
    height: 65px;
    margin: 5px;
}
.resume_icon>ul>li>span{
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background-color: var(--bg-color);
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    font-family: 'GmarketSansBold';
    color: var(--primary-color);
    font-size: 18px;
}
/* //.profile */
.skill{
    padding-bottom: 80px;
}
.skill .progress{
    margin-top: 80px;
}
.skill .progress li{
    margin: 7px auto;
}
.skill .progress .name{
    width: 20%;
}
.skill .progress .tit{
    width: 100%;
    text-transform: none;
    font-size: 1.3em;
    text-align: right;
}
.skill .progress-bar{
    position: relative;
    top: -25px;
    left: 280px;
    width: 780px;
    height: 25px;
    background-color: #00000015;
    border-radius: 50px;
}
.skill .bar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background-color: linear-gradient(to left var(--primary-color) 0%,#1f3edc 100%);
    border-radius: 50px;
    z-index: 100;
}
/* //.skill */

/*---------- #project ----------*/

#project .project_wrap{
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
}
.mockup_area{
    width: 45%;
}
#project .pc{
    width: 500px;
    height: 500px;
    position: relative;
}
#project .mobile{
    width: 180px;
    height: 280px;
    position: relative;
    top: -350px;
    left: 385px;
}
#project .computer,
#project .iphone{
    width: 100%;
    position: absolute;
}
#project .pc a{
    display: block;
    width: 470px;
    height: 264px;
    position: absolute;
    overflow: hidden;
    top: 15px;
    left: 15px;
}
#project .mobile a{
    display: block;
    width: 125px;
    height: 273px;
    position: absolute;
    overflow: hidden;
    top: 35px;
    left: 27px;
    border-radius: 14px;
}
#project .scroll img{
    width: 100%;
    position: relative;
}
.iphone_top{
    width: 45%;
    position: absolute;
    top: 35px;
    left: 50px;
}

.text_area{
    width: 40%;
    position: relative;
}
.project_num span.number{
    font-family: 'GmarketSansBold';
    opacity: .3;
    font-size: 32px;
    margin-bottom: 15px;
}
.project_tit .tit{
    font-size: 32px;
    font-family: 'GmarketSansBold';
    margin-bottom: 15px;
}
.project_txt{
    font-size: 16px;
}
.project_txt span.categori{
    font-size: 20px;
    margin-top: 15px;
    text-transform: none;
    margin-top: 50px;
    opacity: .7;
}
.project_txt .bold{
    font-family: 'GmarketSansBold';
}

/*---------- #design ----------*/

/*---------- #contact ----------*/
#contact{
    background-color: var(--primary-color);
}
/* ---------- //main ----------*/